* {
  box-sizing: border-box;
}
.app_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f8f8fa;
  gap: 15px;
  padding: 40px;
}

.component_container {
  width: 40%;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.component_container > label,
select,
input {
  display: block;
}
.component_container > form {
  min-height: 500px;
}
.button_group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input,
select {
  padding: 5px;
  font-size: 15px;
  width: 100%;
  height: 30px;
  margin: 10px 0 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.list_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 2px;
  color: blue;
}
.list_items > div {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  padding: 4px;
}
.list_items > ::after {
  content: ' x';
}
.change_page_container {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.ouput_display_container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 10px;
  min-height: 500px;
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}
.ouput_display_container > div {
  margin-bottom: 10px;
}

.component_title {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
}

.display_container {
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
}
button {
  color: white;
  background-color: rgb(51, 94, 234);
  font-weight: 600;
  height: 30px;
  width: 100px;
}

.top_control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
  .app_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .component_container {
    width: 75%;
  }
}
ul {
  list-style: none;
}
